body {
    background-color: beige;
}

h1 {
    color: blue;
    font-style:oblique;
    font-size: 24px bold;
    
}

h2 {
    color:#0000ff;
    font-size: 20px bold;
    
}

h3 {
    color:teal;
    font-size: 16px bold;
}

p {
    color:#4D4D4D;
}

a {
    color:#8A2BE2;
    text-decoration: none;
    
}
html {
    font-size: 62.5%;
}

header {
    width: 134rem;
    height:45rem;
    background-image: url(./img/splatoon\ 3\ header\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
