body {
    background-color: beige;
}

h1 {
    color: blue;
    font-style:oblique;
    font-size: 24px bold;
    
}

h2 {
    color:#0000ff;
    font-size: 20px bold;
    
}

h3 {
    color:teal;
    font-size: 16px bold;
}

p {
    color:#4D4D4D;
}

a {
    color:#8A2BE2;
    text-decoration: none;
    
}
html {
    font-size: 62.5%;
}

header {
    width: 250rem;
    height:40rem;
    background-image: url(./img/thumb-350-349582.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

.headerh1 {
    color:chartreuse;
    
}
.p1 {
    color:white;
    font-size: 17px;
}

img {
    border-radius: 8px;
  }

img {
    width: 100rem;
}


article {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style:solid;
    border-radius: 5px;
    
  border-width: 5px 8px;
}