* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-size: 100vw;
  background-color: rgb(0, 0, 0);
  background-position: 0;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

nav {
  left: 0;
  top: 0;
  min-height: 10vh;
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;

}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer{
 
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 9vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: center;
}

.footerh2{
  color: white;
  text-decoration: none;
  align-items: center;
}


.container{
color: white;
padding: 40rem;
}

.h1{
  font-size: 5rem;
  padding: 10rem;
  
}

.container1{
  float: right;
  margin-top: 10vw;
  margin-right: 1vw;
  color: white;
 
}

.img{
height: 30vh;
}

